body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.form-registro {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.form-registro h1 {
  text-align: center;
  margin-top: 0;
  font-size: 30px;
}

.form-registro form {
  margin-top: 20px;
}

.form-registro p {
  margin-bottom: 20px;
  text-align: center;
  color: blue;
  font-size: 18px;
}

.form-registro input {
  font-size: 15px;
}

.form-registro input[type="text"],
.form-registro input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-weight: bold;
}

.botones-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.boton1 {
  padding: 10px 20px;
  background-color: #af25a6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-size: 15px;
}

.boton1:hover {
  background-color: #45a049;
}
